body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  height: 100vw;
  margin-top: 81px;
}

.block-header {
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 1;
  width: 100%;
  min-width: 400px;
}

.block-header__elem-inscription {
  font-family: cursive;
  background: #f1eded;
  padding-left: 4px;
}

.block-header__elem-header {
  background: rgb(82, 103, 161);
  font-size: 50px;
  color: cornsilk;
  margin: 0px;
  padding-left: 4px;
}

.block-sidebar {
  flex-grow: 1;
  background: rgb(103, 139, 139);
  padding-left: 4px;
}

.block-sidebar__elem-heading {
  font-size: 50px;
  color: azure;
  font-style: italic;
}

.block-sidebar__elem-links {
  font-size: 25px;
}

.block-sidebar__elem-link {
  text-decoration: none;
  color: beige;
}

.block-content {
  flex-grow: 1;
  background: rgb(72, 255, 0);
}

.block-content__item {
  font-size: 25px;
  font-style: oblique;
  padding-left: 6px;
}

.block-content__item-letter {
  position: sticky;
  margin-left: -4px;
  padding-left: 4px;
  top: 81px;
  background: rgb(72, 255, 0);
}
